<div class="box posAll">
  <div class="boxHeader">Workout Database</div>

  {{!-- SINGLE EXAMPLE --}}
  {{#each fb}}
  <div class="workoutContainer">
    <ul>
    <p style="text-transform: uppercase">
    {{name}}
    </p>

    <div class="workout">
        <img class="workoutPic"style="order: 1" src="{{start}}" alt="squatEX1">
      <img class="workoutPic" style="order: 2" src="{{end}}" alt="squatEX2">
      <div class="workoutDesc">
        <p>EQUIPMENT: {{equipment}}</p>
        <hr>
        <p>TYPE: {{type}}</p>
      </div>

      <div class="workoutSet">
        <p>
          SETS: {{set}}
        </p>
        <hr>
        <p>
          REPS: {{rep}}
        </p>
      </div>

    </div>

    </ul>
  </div>
  {{/each}}
</div>